<form id="login" class="collapse centered" action="/login" method="post">
    <div class="left">
        <fieldset>
            <legend>Sign-in</legend>
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Login"/>
            </div>
            <a href="/forgot">Reset Password</a>
            <a style="float:right;" href="/register">Register</a>
            <hr style="clear:both;border:none;">
        </fieldset>
    </div>
</form>