{{#if auth}}
    <form id="password-reset" class="collapse centered" action="/reset?id={{userId}}&auth={{auth}}" method="post">
        <div class="left">
            <fieldset>
                <legend>Reset Password</legend>
                <div>
                    <label for="password1">New Password</label></br>
                    <input class="hundred" type="password" name="password1"/>
                </div>
                <div>
                    <label for="password2">Re-Enter Password</label></br>
                    <input class="hundred" type="password" name="password2"/>
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
            </fieldset>
        </div>
    </form>
{{else}}
    <form id="request-reset" class="collapse centered" action="/forgot" method="post">
        <div class="left">
            <fieldset>
                <legend>Reset Password</legend>
                <div>
                    <label for="email">Email</label></br>
                    <input class="hundred" type="email" name="email"/>
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Submit"/>
            </fieldset>
        </div>
    </form>
{{/if}}